
.appCheckboxGroup {
  margin-bottom: 20px;
}

.appCheckboxGroupOption {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;

  &.disabled{
    position: relative;
    //pointer-events: none;
    cursor: not-allowed;
    opacity: .5;

    &:before{
      cursor: not-allowed;
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
  }
}