.appCheckbox {
  position: relative;
  cursor: pointer;
  margin: 0;
  display: grid;
  justify-content: flex-start;
  width: max-content;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 10px;
  margin-bottom: 7px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    // CHECKED
    &:checked + .appCheckboxView:after {
      content: '';
      position: absolute;
      //left: 7px;
      top: 50%;
      left: calc(50% - 4px);

      //top: 11px;

      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
      transform: rotate(45deg);
      z-index: 20;
    }

    &:disabled ~ .appCheckboxView {
      opacity: .5;
      cursor: not-allowed;
    }

    &:disabled ~ div {
      opacity: .5;
      cursor: not-allowed;
    }
  }

  .appCheckboxView {
    position: relative;
    display: block;
    height: 22px;
    min-width: 22px;
    width: 22px;
    background-color: white;
    border: 2px solid rgb(0 0 0 / 10%);
  }

  &.primary {
    input {
      &:not(:disabled) ~ .appCheckboxView:hover {
        border: 2px solid var(--G400)
      }

      &:checked ~ .appCheckboxView {
        background-color: var(--G400);
        border: 2px solid var(--G400);
      }
    }
  }

  &.secondary {
    input {
      &:not(:disabled) ~ .appCheckboxView:hover {
        border: 2px solid var(--R400)
      }

      &:checked ~ .appCheckboxView {
        background-color: var(--R400);
        border: 2px solid var(--R400);
      }
    }
  }

  &.small {
    .appCheckboxView {
      height: 16px;
      min-width: 16px;
      width: 16px;
    }
  }

  &.medium {
    .appCheckboxView {
      height: 20px;
      min-width: 20px;
      width: 20px;
    }
  }

  &.large {
    .appCheckboxView {
      height: 24px;
      min-width: 24px;
      width: 24px;
    }
  }
}

.appCheckboxLabel {
  font-size: 14px;
  font-weight: 500;
  color: #2d2d2d;
}



