
.appCheckboxSkinPrimary {
  display: inline-block;
  min-height: 80px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: calc(var(--app-border-radius) / 2);
  position: relative;

  .appCheckboxSkinPrimaryTitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .appCheckboxSkinPrimaryDescription {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .appCheckboxSkinPrimaryPrice {
    font-weight: 600;
    font-size: 19px;
  }

  &.active {
    border: 2px solid var(--G400);
    color: var(--G400);
  }

  &.disabled {

  }
}