.typography {
  font-size: 14px;
  line-height: normal;
}

.caption1 {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

.body1 {
  font-size: 14px;
  line-height: 19px;
}

.body2 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.body1Strong {
  font-weight: 600;
}

.subTitle1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.subTitle2 {
  font-size: 16px;
  line-height: 22px;
}

.subTitle2Strong {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.largeTitle {
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
}


.title1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.title2 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}

.title3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
