@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #9ca3af;
}

.spinnerIcon {
  width: 1.1em;
  height: 1.1em;
  animation: spin 0.6s linear infinite;
}
